<div class="page-header col-sm-12">
  <div  class="container ">
    <div class="col-sm-3">
      <span class="lead text-info"><%=t '.title', :default => "New Demo Model" %></span>
    </div>
    <div class="ol-sm-9">
    </div>
  </div>
</div>

<%= render 'form', disabled: false %>
